<section>
<h1>Take a CAB on us!</h1>
<h2>Get TWO free audio books!</h2>
<aside>

    <img src="../../../assets/images/New-York-Taxi-Cab.svg"class="flip" class="tablet-hide">
    <img src="../../../assets/images/New-York-Taxi-Cab.svg"class="flip" class="mobile-hide">
    <img src="../../../assets/images/boy_with_headphone1.svg" class="lgr">

    <img src="../../../assets/images/girlwithheadphone4.svg" class="lgr">
    <img src="../../../assets/images/New-York-Taxi-Cab.svg" class="mobile-hide">
    <img src="../../../assets/images/New-York-Taxi-Cab.svg" class="tablet-hide">

</aside>
</section>