main {
	width: 80%;
	margin: auto;
	display: flex;
	flex-direction: column;
	background-color: #f7bd2d;


	aside{
		display: flex;
		flex-direction: column;
		background-color: white;

		width: 30%;
		height: 15%;
		margin: auto;
		margin-bottom: 3%;
		margin-top: 1%;

		border: 2px solid gray;

		

		
		h2{
			text-align: center;
			padding-top: 3%;
		}
		button{
			width: 40%;
			height: 2.5em;
			margin: 5% auto;
			background-color: #d03a67;
			border-radius: 4px;
			color: white;
			font-size: 0.8em;

		}
	}

	section {
		background-color: white;

		display: flex;
		flex-direction: column;
		align-content: center;

		width: 40%;
		margin: 1% auto;
		margin-top: 3%;

		border: 2px solid gray;
		border-radius: 5%;

		// background-color: red;

		h1 {
			padding: 3%;
			margin: auto;
			font-size: 3em;
		}

		h2{
			margin: auto;
			font-size: 3em;
		}

		form {
			display: flex;
			flex-direction: column;
			margin: auto;
			width: 60%;

			

			label {
				font-size: 2em;
				margin: 4% 0 1% -5%;
			}

			input {
				font-size: 1.25em;
				width: 100%;
				margin:  3% auto;
				padding: 3% 3%;
				background-color: azure;
				border: 1px solid darkgray; 
			}

			button{
				width: 40%;
				height: 2.5em;
				margin: 3% auto;
				color: white;
				font-size: 1.2em;
				border-radius: 4px;
				margin-top: 8%;
				background-color: #ac1a37;
			}
		}

		aside{
			width: 40%;
			margin: auto;
			margin-bottom: 3%;
			text-align: center;
			font-size: 1.3em;

			
		}

		.error{
			border: 3px solid red;
		}

	}
	#pg2{
		display: none;
	}
}
@media (max-width: 768px) {
	main{
		width: 90%;

		section{
			width: 80%;
		}
		aside{
			width: 70%;
		}
	}
}
@media (max-width: 992px) {
	main{
		width: 90%;

		section{
			width: 80%;
		}
		aside{
			width: 70%;
		}
	}
}