section {
	display: flex;
	flex-direction: column;
	transform: scale (1,1);
	
	padding-bottom: 3%;
	border-radius: 1%;
	margin: 5% auto;

	width: 90%;

		img {
			display: block;
			height: 25em;
			margin: 0 auto;
			border-radius: 5%;
			box-shadow: -15px 15px 8px rgba(63, 57, 57, 75%);
			text-align: center;

		}


		div{			//description box shown when book is selected
			position: absolute;
			min-height: 5em;
			max-height: 20em;
			width: 90%;
	
			border-top-left-radius: 5%;
			border-bottom-left-radius: 5%;
			border-top-right-radius: 2%;
			border-bottom-right-radius: 2%;
			
			margin-top:22em;
			padding: .5em;
	
			display: none;
			overflow-y: scroll;
		
			color: black;
			text-align: center;
			font-size: 1.2em;
			font-weight: normal;
			text-decoration: none;
	
			box-shadow: -15px 15px 8px rgba(63, 57, 57, 75%);
			
			h4{
				padding: 0 1em .25em 1em;
				font-size: 1.25em;
			}
			h5{
				padding: 0 1em 1em 1em;
				font-size: 0.75em;
				font-style: italic;
				text-decoration: underline;
			}
			p{
				padding: 0 1em 0 1em;
				font-size: 1em;
			}
			#hide{
				margin: 1em;
			}
			.buttons{
				position: fixed;
				bottom: -15em;
				background-color: white;

			}
		}

		div::-webkit-scrollbar{
			width: 12px;
		}
		div::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px gray; 
			border-radius: 10px;
		}
		div::-webkit-scrollbar-thumb {
			background: gray; 
				border-radius: 10px;
		}
		div::-webkit-scrollbar-thumb:hover {
			background: rgb(90, 90, 90); 
		}



		h1 {
			font-size: 2em;
			width: 80%;
			margin: auto;
			margin-top: 1em;
			text-align: center;
			text-decoration: underline;
			max-height: 2.5em;
			margin-bottom: .5em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h2 {
			font-style: italic;
			color: black;
			text-align: center;
			font-size: 1.35em;
			padding-top: 2%;
		
		}
		
	

	
	aside{
		display:none;
		margin:auto;
		margin-top: 2em;
	}
}


.hover {
	transform: scale(1.2, 1.2) perspective(1px) translateZ(0);
	transition: transform 0.5s;

	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;

	height: 150%;
			div{
				display: block;
				background-color: whitesmoke;
				
				aside{
					display: block;
				}
			}
		
		aside{
			display: none;
		}

	
}

@media (hover: none) and (pointer: coarse) { // shows the "Show more" button when on mobile devices
	section{
		aside{
			display: block;
		}
	}
}

@media (max-width: 800px){
	section{
	
			img{
				height: 20em;
			}
			div{
				margin-top: 18em;
				width: 100%;
			}
	
	}
}