@font-face {
	font-family: CABf;
	src: url(/assets/fonts/3Dumb.ttf);
}

$HomeColor: #205fbd;
$BrowseColor: #164283;
$BooksColor: #ac1a37;
$LogColor: #d03a67;

.home{
	background-color: $HomeColor;
}
.browse{
	background-color: $BrowseColor;
}
.books{
	background-color: $BooksColor;
}
.log{
	background-color: $LogColor;
}

header {
	display: flex;
	flex-direction: column;


	background-image: url('/assets/images/header.png');
	background-position: center;
	background-position-y: 80%;
	background-size: 100vw;
	background-repeat: no-repeat;

	padding-top: 10vw;

	div{
		h1 {
			font-size: 8vw;
			text-align: center;
			font-family: CABf;
			color: white;
		}
		h4 {
			font-size: 5vw;
			text-align: center;
			margin-bottom: 5%;
			color: white;
		}
	}


}

nav {
	width: 75%;
	margin: auto;
	position: -webkit-sticky;
	position: sticky;
	top: -1em;
	z-index: 500;
	
	ul {
	
		display: flex;
		flex-direction: row;
		list-style-type: none;
		justify-content: center;
		margin-top: -5%;
		
		a {
			width: 100%;
			text-decoration: none;
			-webkit-filter: brightness(100%);

			li {
				text-align: center;
				color: white;

				padding: 40px 0%;
				font-size: 1.75em;
			}
		}
		a:first-child{
			border-top-left-radius: 25px;
		}
		a:last-child{
			border-top-right-radius: 25px;
		}
	
		a:hover{
			-webkit-filter: brightness(80%);
		}
	}
}

#searchBar {
	display: flex;
	width: 75%;
	position: -webkit-sticky;
	position: sticky;
	top: 5em;
	flex-direction: row;
	z-index: 500;
	
	overflow: hidden;
	background-color: #9e0b0f;
	margin: auto;
	-webkit-filter: brightness(100%);

	form {
		width: 100%;
		margin: 1% auto;
		-webkit-filter: brightness(100%);

		div {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: flex-start;
			width: 90%;
			margin: 0% auto;

			.search{
				visibility: hidden;

				.searchIcon {
					visibility: visible!important;
					position: fixed;
					height: 100%;
					cursor: pointer;
					top: 0;
					margin-left: -3%;
	
					background-color: rgb(225, 225, 225);
					border-radius: 0 10px 10px 0;
				}	
			}

			input {
				padding: 1%;
				width: 90%;
				height: 1.5em;

				border: none;
				border-radius: 10px 0 0 10px;;

				font-size: 150%;
				color: #444444;
				text-align: left;
				text-overflow: ellipsis;
				background-color: rgb(225, 225, 225);
				
			}
			input:focus {
				outline: none;
				color: #222222;
				background-color: rgb(242, 242, 242);
			}
		}
	}

}



footer {
	width: 75%;
	margin: 0 auto;

	main {
		display: flex;
		justify-content: space-evenly;

		background-color: #ac1a37;

		padding: 2% 0;

		ul {
			flex-direction: column;
			list-style-type: none;

			li {
				padding: 15px 0%;

				a {
					color: black;
					font-size: 1.2em;
					font-weight: bold;
				}
				a:hover {
					color: white;
				}
			}
		}
	}
	aside {
		padding: 3% 0%;
		background-color: #d03a67;

		p {
			text-align: center;
			font-size: 1.2em;
			font-weight: bold;
		}
	}
}

@media screen and (max-width: 1000px){
	nav{
		width: 75%;
	}
	
}

@media screen and (max-width: 800px) {
	header{
		width: 90%;
	}
	
	nav{
		width: 90%;
		top: 1em;
		ul{
			a{
				li{
					font-size: 1.25em;
					padding: 25px 0;
				}
			}
		}
	}
	#searchBar{
		width: 90%;
	}
	footer{
		width: 90%;
	}
}

@media screen and (max-width: 500px) {
	nav{
		width: 100%;

		
	}
	#searchBar{
		width: 100%;
	}
	footer{
		width: 100vw;
	}
	
}