<header>
  <div class="content">
    <h1>CAB</h1>
    <h4>Children's Audio Books</h4>
  </div>
</header>

<nav>
  <ul>
    <a routerLink="/" class="home">
      <li>Home</li>
    </a>
    <a routerLink="/genres" class="browse"> 
      <li>Browse </li>
    </a>
   
    <a routerLink="/deals" *ngIf="!(afAuth.authState | async)" class="books"> 
      <li>Sign&nbsp;up</li>
    </a>

    <a routerLink="/mybooks" *ngIf="(afAuth.authState | async)" class="books">
      <li>My&nbsp;Account</li>
    </a>

    <a routerLink="/login" *ngIf="!(afAuth.authState | async)" class="log">
      <li> Login</li>
    </a>

    <a (click)="afAuth.signOut()" style="cursor: pointer;" *ngIf="(afAuth.authState | async)" class="log">
      <li>Logout</li>
    </a>

  </ul>
</nav>

<div id="searchBar">
  <form (ngSubmit)="onSearch(f)" #f="ngForm">
    <div class="container">
      
      <input type="text" class="input" placeholder="What are you looking for?" autocomplete="on" ngModel name="search" />
      <button type="submit"><img src="../assets/images/icons8-search.svg"></button>
    </div>
  </form>
</div>

<router-outlet></router-outlet>

<footer>
  <main>
    <ul>
      <li><a href="#" routerLink=""> Help </a></li>
      <li><a href="#" routerLink=""> Redeem a book </a></li>
      <li><a href="#" routerLink=""> Gifts </a></li>
    </ul>

    <ul>
      <li><a href="#" routerLink=""> Site Map </a></li>
      <li><a href="#" routerLink=""> About CAB </a></li>
      <li><a href="#" routerLink=""> Business Inquiries </a></li>
    </ul>

    <ul>
      <li><a href="#" routerLink=""> Best Sellers </a></li>
      <li><a href="#" routerLink=""> NYT Best Sellers </a></li>
      <li><a href="#" routerLink=""> Non-English Books </a></li>

    </ul>

    <ul>
      <li><a href="#" routerLink=""> New Releases </a></li>
      <li><a href="#" routerLink=""> Listening on Android </a></li>
      <li><a href="#" routerLink=""> Listen on Apple Devices </a></li>

    </ul>
  </main>

  <aside>
    <p style="text-decoration: underline;">This site does not actually contain any Audio Books. It is only connected to Google Books API.</p>
    <p> &copy; Fake Copyright 2022 CAB Inc, Conditions of Use Privacy Policy Interest-based Ads Cookies United States
      (English)</p>
      
  </aside>

</footer>