section {
	display: flex;
	flex-direction: column;
	transform: scale (1,1);
	
	padding-bottom: 3%;
	border-radius: 2%;
	margin: 5% auto;

	transition: transform 0.3s;


	a{
		text-decoration: none!important;
		display: flex;
		flex-direction: column;
		
		img {
			display: block;
			width: 10em;
			height: 15em;
			margin: 0 auto;
			border-radius: 15%;
			box-shadow: 15px 15px 8px rgba(63, 57, 57, 75%);
			text-align: center;
		}
		h1 {
			margin: 5% 3%;
			font-size: 1.75em;
			text-align: center;
			text-decoration: underline;
			max-height: 2.5em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h2 {
			color: black;
			text-align: center;
			font-size: 1.5em;
			padding-top: 2%;
			
		}
		h3 {
			position: absolute;
			max-height: 20em;
			width: 13em;
			margin-left: 18em;
			padding: .5em;

			display: none;
			overflow: hidden;
			text-overflow: ellipsis;

			color: black;
			font-size: 1em;
			text-align: center;
			font-weight: normal;
			font-style: oblique;
			
			text-decoration: none;
	
		}
	}
	
}
section:hover {
	transform: scale(1.2, 1.2);

	a{
		
		h3{
			display: block;
			background-color: gray;
		}
	
	}

	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
	section {
		flex-direction: column;

		a{
		

			img{
				display: block;
				height: 5em;
				width: 100%;
				margin: auto;
			}
			h2{
				text-align: center;
				padding-top: 0%;
			}
		}
	
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	section {
		flex-direction: column;

		a{
		

			img{
				display: block;
				height: 50%;
				width: 50%;
				margin: auto;
			}
			h2{
				text-align: center;
			}
		}
	
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	section {
		flex-direction: column;
	
		a{
			
		

			img{
				display: block;
				height: 25%;
				width: 25%;
				margin: auto;
			}
			h2{
				text-align: center;
			}
		}
	
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
}
