section {
	display: flex;
	flex-direction: column;
	transform: scale (1,1);
	
	padding-bottom: 3%;
	border-radius: 2%;
	margin: 5% auto;

	


	a{
		text-decoration: none!important;
		display: flex;
		flex-direction: column;
		
		img {
			display: block;
			width: 10em;
			height: 15em;
			margin: 0 auto;
			border-radius: 15%;
			box-shadow: 15px 15px 8px rgba(63, 57, 57, 75%);
			text-align: center;
		}
		h1 {
			margin: 5% 3%;
			font-size: 1.5em;
			text-align: center;
			text-decoration: underline;
			max-height: 2.4em;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		h2 {
			font-style: italic;
			color: black;
			text-align: center;
			font-size: 1em;
			padding-top: 1%;
			
		}
		div {
			position: absolute;
			min-height: 5em;
			max-height: 20em;
			width: 115%;

			margin-top: 17em;
			margin-left: -10%;
			padding: .5em;

			display: none;
			overflow-y: scroll;
		
			color: black;
			text-align: center;
			font-size: 0.9em;
			font-weight: normal;
			text-decoration: none;

			h4{
				padding: 0 1em .25em 1em;
				font-size: 1.25em;
			}
			h5{
				padding: 0 1em 1em 1em;
				font-size: 0.75em;
				font-style: italic;
				text-decoration: underline;
			}
			p{
				padding: 0 1em 0 1em;
				font-size: 1em;
			}
	
		}
		div::-webkit-scrollbar{
			width: 12px;
		}
		div::-webkit-scrollbar-track {
			box-shadow: inset 0 0 5px gray; 
			border-radius: 10px;
		}
		div::-webkit-scrollbar-thumb {
			background: gray; 
			border-radius: 10px;
		}
		div::-webkit-scrollbar-thumb:hover {
			background: rgb(90, 90, 90); 
		  }
		
	}
	
}
section:hover {
	transform: scale(1.2, 1.2);
	transition: transform 0.5s;

	height: 150%;

	a{
		
		div{
			display: block;
			background-color: whitesmoke;
			border-radius: 5%;
		}
	
	}

	
}





