main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 80%;
	margin: 0 auto;
	background-color: #f7bd2d;

	.section {
		margin: 2% 0;
		width: 30%;
		min-height: 45em;
	}
}