@font-face {
	font-family: CABf;
	src: url(/assets/fonts/3Dumb.ttf);
}

main {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 75%;
	margin: 0 auto;
	background-color: #f7bd2d;

	.section {
		margin-top: 5%;
		width: 30%;
		min-height: 45em;
	}
}
section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	width: 75%;
	margin: 0 auto;
	background-color: #f7bd2d;

	.section {
		margin: 2% 2%;
		width: 20%;
		
	}
}

#loadingIcon{
	width: 80%;
	margin: 0% auto;
	text-align: center;
}


@media (max-width: 1200px) {
	main {
		width: 75%;
		flex-direction: column;
		justify-content: center;

		.section {
			width: 90%;
			margin: 0 auto;
		}
	}
	section {
		width: 75%;
		flex-direction: row;
		justify-content: center;

		.section {
			width: 30%;
		}
	}
}
@media (max-width: 800px) {
	main {
		width: 90%;
		justify-content: center;

		.section {
			width: 70%;
		}
	}
	section {
		width: 90%;

		.section {
			width: 30%;
		}
	}
}
@media (max-width: 500px) {
	main {
		width: 90%;
		justify-content: center;

		.section {
			width: 70%;
		}
	}
	section {
		width: 90%;
		flex-direction: column;
		padding-left: 4em;

		.section {
			width: 30%;
		}
	}
}
